<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <!-- <base href="/my_wesite/"> -->
    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="zh-CN, en">
    <title>刘张代红 Jessie Liu</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header>
        <h1>
            刘张代红 Jessie Liu
        </h1>
        <nav>
            <a href="index.html">首页 Home</a>
            <a href="publications.html">论文 Publications</a>
            <a href="patents.html">专利 Patents</a>
            <a href="awards.html">奖项 Awards</a>
            <a href="activities.html">学术活动 Academic Activities</a>
            <a href="personal.html">个人生活 Personal Life</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>© 2025 刘张代红 Jessie Liu</p>
    </footer>
</body>
</html>
